name: Deploy plugin to WordPress.org
on:
  push:
    tags:
      - '*'
jobs:
  deploy-plugin:
    name: Deploy plugin to WordPress.org
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy plugin
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}